
    *{
      box-sizing: border-box;
      display: block;
      width: 100%;
      
    }
      .content {
       
        background-color: gainsboro;
        display: flex;
        justify-content:center;
        flex-wrap:wrap;
        flex-direction: round;
        
      }
      .card{
        text-align: center;
        padding:20px;
        width: 250px;
        height: 500px;
        margin: 10px; 
        box-shadow: 5px 3px 15px gray;
        background-color: white;         
       
      }
      .title{
        text-align: center;
        width: 100%;
      
    
    }
    .card-image{
      height: 40%;
    }
    .button{
        
        height: 5%;
        justify-content: center;
        background-color: gray;
        align-self:flex-end;
        box-sizing: border-box;
        border-radius: 8px;
    
    }
    .card-content{
      text-align: justify;
      height: 50%;    


    }
    h2{
      text-align: center;
    }
    
